
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>This is About US Page</p>
<nav>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("AboutUS", "About", "Second")</li>
        <li>@Html.ActionLink("ContactUS", "Contact", "Second")</li>
    </ul>
</nav>