<h1 class="success">Partial View</h1>

<h2 class="danger">It is also called Wigits</h2>

<p class="panel-info">It is used to create wigits or partial view which we than use RenderBody method 
    to display it in the screen (Index)
    </p>
